@media screen and (min-width: 480px) {
  
  nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Fjalla One', sans-serif;
  }

  nav a {
    text-decoration: none;
    color: #FF5039;
    padding: 2px 5px;
    font-size: 1.15em;
    font-weight: bold;
    border-top: 2px solid #7F4A43;
  }

  nav a:hover {
    border-top: 2px solid #FF5039;
  }

  #gallery li img.app-img {
    height: 300px;
    width: 450px;
  }
    
}

@media screen and (min-width: 750px) {

  header {
    background-color: #7F281D;
    padding: 0px 20px 0 20px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
  }

  div#main-title {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
  }

  header h1 {
    font-family: 'Fjalla One', sans-serif;
    line-height: 1em;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
    color: #FF5039;
  }

  header h2 { 
    font-size: 1.25em;
    font-weight: bold;
    margin: 0px;
    margin-top: 5px;
    color: #FF5039;
  }

  div#about {
    display: block;
    height: 108px;
  }

  nav {
    height: 100%;
    width: 220px;
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
    font-family: 'Fjalla One', sans-serif;
    background-color: #7F281D;
  }

  nav a {
    text-decoration: none;
    color: #FF5039;
    padding: 2px 5px;
    font-size: 1.15em;
    font-weight: bold;
    border-top: none;
    border-bottom: 2px solid #7F281D;
  }

  nav a:hover {
    border-top: none;
    border-bottom: 2px solid #FF5039;
  }

  section {
    font-size: 1em;
  }

  #gallery li img.app-img {
    height: 400px;
    width: 550px;
  }
}

