$anime-time: 8s;

$box-size: 250px;
$large-box-size: 300px;

$clip-distance: .05;
$clip-size: $box-size * (1 + $clip-distance * 2);
$large-clip-size: $large-box-size * (1 + $clip-distance * 2);
$path-width: 4px;

$main-color: #64BF39;

$codepen-logo-path: url('../images/sinan.jpg');

$break-large: 750px;

%full-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bb {
  @extend %full-fill;
  width: $box-size;
  height: $box-size;
  border: 2px solid #595959;
  margin: auto;
  background: $codepen-logo-path no-repeat 100% / 100% rgba(#000, .1);
  color: $main-color;
  box-shadow: inset 0 0 0 1px rgba($main-color, .5);

  @media screen and (min-width: $break-large) {
    width: $large-box-size;
    height: $large-box-size;
  }

  &::before,
  &::after {
    @extend %full-fill;
    content: '';
    z-index: -1;
    margin: -1 * $clip-distance * 100%;
    box-shadow: inset 0 0 0 $path-width; 
    animation: clipMe $anime-time linear infinite;

    @media screen and (min-width: $break-large) {
      animation: large-clipMe $anime-time linear infinite;
    }

  }

  &::before {
    animation-delay: $anime-time * -.5;
  }

}

@keyframes clipMe {
  0%, 100% {clip: rect(0px, $clip-size, $path-width, 0px); }
  25% {clip: rect(0px, $path-width, $clip-size, 0px); }
  50% {clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px); }
  75% {clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width); }
}

@keyframes large-clipMe {
  0%, 100% {clip: rect(0px, $large-clip-size, $path-width, 0px); }
  25% {clip: rect(0px, $path-width, $large-clip-size, 0px); }
  50% {clip: rect($large-clip-size - $path-width, $large-clip-size, $large-clip-size, 0px); }
  75% {clip: rect(0px, $large-clip-size, $large-clip-size, $large-clip-size - $path-width); }
}

/////

html,
body {
  height: 100%;
}

body {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
